.displayFlex{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.MustreadPaper{
    width: auto;
    height: 2.5rem;
    padding: 0.5rem 1rem ;
}

.MustreadText{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--secondary-800);
 } 


 .displayFlex::after {
    content: "";
    flex-grow: 1;
    border-bottom: 2px solid var(--secondary-800);
    /* margin-left: 1rem; Add some spacing between the text and the line */
  }

.container{
    margin-bottom: 10rem;
}

.smallMargingleft{
    margin-left: 0.5rem;
}

.pallaFlex{
    display: flex;
}

.parallelogram1{
    width: 8px;
    height: 25px;
    transform: skew(-20deg);
    background: var(--secondary-300);

}

.parallelogram2{
    width: 8px;
    height: 25px;
    transform: skew(-20deg);
    background: var(--secondary-400);

}


.parallelogram3{
    width: 8px;
    height: 25px;
    transform: skew(-20deg);
    background: var(--secondary-700);

}

.time{
     order: 1;
}



.MustreadTextTime{
    text-align: center;
    font-size: 13px;
    /* font-weight: 600; */
    color: var(--secondary-800);
 } 