.mainContainer{
    /* border: 1px solid red; */
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-right: 1.5rem;
}



.MustreadPaper{
      width: 10rem;
      height: 2.5rem;
      padding: 0.5rem 1rem ;
}


.MustreadText{
   text-align: center;
   font-size: 15px;
   font-weight: 600;
   color: var(--secondary-800);
} 


.displayFlex{
    display: flex;
    align-items: center;
}

.displayFlex::after {
    content: "";
    flex-grow: 1;
    border-bottom: 2px solid var(--secondary-800);
    /* margin-left: 1rem; Add some spacing between the text and the line */
  }




.Contentstart{
    /* border: 1px solid red; */
    margin-top: 0.8rem;
}

.ContentHeading{
    font-size: 17px;
    font-weight: 700;
    
}

.imageDiv{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5rem 0rem;
}

.ContentParagraph{
    font-size: 15px;
    line-height: 1.5rem;
    letter-spacing: 1px;
}


.mainContainertwo{
    /* border: 1px solid green; */
    margin-top: 0.5rem;
    padding: 0.5rem;
}