.displayFlex{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.MustreadPaper{
    width: auto;
    height: 2.5rem;
    padding: 0.5rem 1rem ;
}

.MustreadText{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--secondary-800);
 } 


 .horizontalLine{
    border: 1px solid var(--secondary-800);
   width: 62rem ;
}

.container{
    margin-bottom: 10rem;
}

.smallMargingleft{
    margin-left: 0.5rem;
}

.pallaFlex{
    display: flex;
}

.parallelogram1{
    width: 8px;
    height: 25px;
    transform: skew(-20deg);
    background: var(--secondary-300);

}

.parallelogram2{
    width: 8px;
    height: 25px;
    transform: skew(-20deg);
    background: var(--secondary-400);

}


.parallelogram3{
    width: 8px;
    height: 25px;
    transform: skew(-20deg);
    background: var(--secondary-700);

}


.firstNews{
    margin-top: 0.7rem;
    border: 1px solid var(--grey-300);
    height: auto;
    border-top: 20px solid var(--secondary-300);
    border-radius: 20px;
}

.contentStart{
    /* border: 1px solid red; */
    padding: 0.2rem 0.3rem;
}

.textEditing{
    font-size: 15px;
    font-weight: 600;
}

.imageDIv{
    /* border: 1px solid red; */
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContentParagraph{
    font-size: 13.5px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    /* border: 1px solid red; */
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.DisplayFlexDiv{
    display: flex;
}

.imgFluid{
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    
}